.cards {
  max-width: 250px;
  min-width: 250px;
  height: 500px;
  margin-bottom: 40px;
}
.cards img {
  display: inline-block;
  height: 230px;
}
.title {
  font-size: 1.3rem;
  color: #0b132b;
}
.title span {
  font-size: 1.125rem;
  color: #3a506b;
}
